.projects-header-card {
    @include card;

    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: $defaultSpacing;

    padding-left: $defaultSpacing * 1.5;
    padding-right: $defaultSpacing * 1.5;

    > strong {
        font-size: 20px;
        line-height: 32px;
    }

    > a {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: $defaultRadius;
        padding: 0 $defaultSpacing;

        margin-right: - calc($defaultSpacing / 8 );

        height: 32px;

        font-size: 14px;
        line-height: 24px;
        color: var(--low-contrast);
        text-decoration: none;

        outline: 2px solid transparent;

        transition: background-color 150ms ease-out, color 150ms ease-out, outline-color 150ms ease-out;

        &:hover,
        &:focus {
            background-color: var(--element-hover);
            color: var(--high-contrast);
        }

        &:focus-visible {
            outline-color: var(--element-hover-border);
        }
    }
}