@import "base";

@import "profile";
@import "info";
@import "techs";
@import "xp";
@import "education";
@import "projects-header";
@import "projects-grid";
@import "posts-header";
@import "posts-card";

body {
  width: 100%;
  max-width: $extraLargeScreen;
  margin: 0 auto;

  @media screen and (max-width: $extraLargeScreen) {
    max-width: $largeScreen;
  }

  @media screen and (max-width: $largeScreen) {
    max-width: $mediumScreen;
  }

  @media screen and (max-width: $mediumScreen) {
    max-width: $smallScreen;
  }

  > main {
    display: flex;
    gap: $defaultSpacing * 2;

    padding: $defaultSpacing;

    @media screen and (max-width: $mediumScreen) {
      flex-direction: column;
      gap: $defaultSpacing;
    }

    > aside {
      display: flex;
      flex-direction: column;
      gap: $defaultSpacing * 1.5;

      width: 348px;

      @media screen and (max-width: $mediumScreen) {
        width: unset;
        gap: $defaultSpacing;
      }
    }

    > section {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: $defaultSpacing * 1.5;

      @media screen and (max-width: $mediumScreen) {
        gap: $defaultSpacing;
      }
    }
  }

  > footer {
    align-self: center;

    text-align: center;

    font-size: 14px;
    line-height: 24px;

    color: var(--low-contrast);

    padding: $defaultSpacing 0;

    > a {
      text-decoration: none;

      padding: 4px;
      border-radius: 4px;

      color: var(--low-contrast);
      font-weight: 500;

      outline: 2px solid transparent;

      transition: background-color 150ms ease-out, color 150ms ease-out, outline-color 150ms ease-out;

      &:hover,
      &:focus {
        background-color: var(--element-hover);
        color: var(--high-contrast);
      }

      &:focus-visible {
        outline-color: var(--element-hover-border);
      }
    }
  }
}